.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > *{
  margin-bottom: 5rem;
}

.app >h2{
  height: auto;
  font-size: 50px;
}

.query{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.query > *{
  height: 2rem;
}
.tabla-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabla-inside > * {
  margin-bottom: 3rem;
}
.tablas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

#texto{
  width: 500px;
  margin-right: 1rem;
}
#topk{
  width: 50px;
  margin-right: 1rem;
}

.query > button{
  background-color: antiquewhite;
  border-radius: 5px;
  width: 5rem;
}

